@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
        font-family: raleway, sans-serif;

}

header{
    text-align: center;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    /* width: 1440px;
    height: 698px; */
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 45px 100px;
}

.logo{
    text-shadow: 0 0 3px #4E47FF;
    color: #4E47FF;
    font-weight: 900;
    font-size: 25px;
}

.sign-btn{
    padding: 8px 28px;
    background-color: #4E47FF;
    color: white;
    border: 2px solid #4E47FF;
    box-shadow: 0 0 8px #4E47FF;
    border-radius: 10px;
}

.header-contents{
    margin-top: 100px;
}

.content h3{
    color: #252432;
    font-size: 50px;
}

.focus{
    margin: 37px 0 30px 0;
}

.focus a{
    font-size: 14px;
    padding: 6px 20px;
    background-color: #4E47FF;
    color: white;
    border: 2px solid #4E47FF;
    border-radius: 10px;
    box-shadow: 0 0 8px #4E47FF;
}


.action-texts h3{
    font-weight: 800;
    font-size: 40px;

}

.action-texts{
    gap: 10px;
}

.action-texts p{
    margin:29px 0;
    font-weight: 250;
    font-size: 20px;
}

.action-texts a{
    background: #4E47FF;
    color: white;
    border: 2px solid #4E47FF;
    border-radius:10px;
    box-shadow: 0 0 8px #4E47FF;
    font-size: 20px;
    padding: 8px 28px;
    /* margin-top: 10px; */
}

.action{
    margin:110px 116px 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-image img{
    border-radius: 40px;
    width: 400px;
    height: 280px;
}

.user{
    padding: 50px;
    text-align: center;
    background: #dbdbfd;
    box-shadow: 0 0 8px #4E47FF;
    margin-left: 116px;
    margin-right: 116px;
    border-radius: 15px;
}

.user-h3{
    margin-bottom:20px ;
    font-weight: 600;
    font-size: 22px;
}

.user-nmbrs{
    display: flex;
    justify-content: space-around;
}

.user-nmbrs h2{
    font-family: 'Times New Roman', Times, serif;
    color: #4E47FF;
    font-size: 65px;
    font-weight: bold;
}

.user-nmbrs p{
    font-weight: 100;
    color: black;
}

.reviews{
    margin: 70px 116px;
    text-align: center;
    margin-top:70px;
}

.reviews h3{
    font-weight: 600;
    font-size: 25px;
}

.first-review{
    padding: 10px;
    box-shadow: 0 0 10px #4E47FF;
    border-radius: 10px;
    text-align: left;
}

.reviewer-details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-with-star{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}